<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{site.baseurl}}/main.css">
      <!-- <link rel="stylesheet" href="{{ "/css/site.css" | relative_url }}"> -->
      <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/favicon/favicon-16x16.png">
      <link rel="manifest" href="{{site.baseurl}}/site.webmanifest">
      <link rel="mask-icon" href="{{site.baseurl}}/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
      <link rel="shortcut icon" href="{{site.baseurl}}/assets/favicon/favicon.ico">
      <meta name="apple-mobile-web-app-title" content="Haviva">
      <meta name="application-name" content="Haviva">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-config" content="{{site.baseurl}}/assets/favicon/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">
     <script src="https://kit.fontawesome.com/61c1a40a3c.js" crossorigin="anonymous"></script>
  </head>
  <body>

        {{ content }}

  </body>

</html>
